<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>The NorCal Time Trials Series</title>

</head>

<body>
    <aside>
        <img src="../assets/media/LOGO-fc6fecfc.png"
        alt="Logo of the company: a tire with NorCal Time Series writen on the top part and Since 2021 on the bottom part">
        <img src="../assets/media/car1-3dda6fa4.png" alt="An aldi racing car">
    </aside>
        <main>
            <header>
                
                <h1>NorCal Time Trial Series</h1>
                <nav>
                    <ul>
                        <li>
                            <p><a href="index.html"><strong> Home </strong></a></p>
                        </li>
                        <li>
                            <p><a href="about.html"><strong>About</strong> </a></p>
                        </li>
                        <li>
                            <p><a href="contact.html"><Strong>Contact</Strong></a></p>
                        </li>
                    </ul>
                </nav>
            </header>
            <section>
                
                <h2>Upcoming Events</h2>
                <p> February 12<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Board Meeting<br>
                    <br>
                    February 25<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drivers Zoom Meeting<br>
                    <br>
                    March 12<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Event at Thunderhill!
                </p>
            </section>
        </main>
        <footer></footer>
    </body>

</html>