.logo{
    width: 150px;
    height: 150px;
    display: block;
    margin: 500px 40px 300px 15px;
    clear: both;
    float: left;
    padding: 4px;
}

.car {
    width: 1000px;
    height: 300px;
    display: block;
    margin: -150px 60px 0 15px;
}
ul {
    list-style-type: none;
    margin-bottom: 50px;
}
li {
    display: inline-block;
    margin-right: 10px;
}
h1 {
    margin: 40px 0px 40px;

}