img {
        width: 150px;
        height: 150px;
        display: block;
        margin: 0px 40px 20px 15px;
        clear: both;
        float: left;
        padding: 4px;

}



ul {
        list-style-type: none;
}

li {
        display: inline-block;
        margin-right: 10px;
}

h1 {
        margin: 40px 0px 40px;

}