<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>The NorCal Time Trials Series</title>

</head>

<body>


    <header>
        <div class="intro">
            <h1>NorCal Time Trial Series</h1>
            <nav>
                <ul>
                    <li>
                        <p><a class="current" href="index.html"><strong> Home</strong></a></p>
                    </li>
                    <li>
                        <p><a href="about.html"><strong>About</strong> </a></p>
                    </li>
                    <li>
                        <p><a href="contact.html"><Strong>Contact</Strong></a></p>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="heroPic">
            <img class="car" src="../assets/media/car1-3dda6fa4.png" alt="An aldi racing car">
        </div>
        <h2>Upcoming Events</h2>
    </header>
    <main>
        <img class="logo" src="../assets/media/LOGO-fc6fecfc.png"
            alt="Logo of the company: a tire with NorCal Time Series writen on the top part and Since 2021 on the bottom part">
        <div>
            <p> February 12<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Board Meeting<br>
                <br>
                February 25<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drivers Zoom Meeting<br>
                <br>
                March 12<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Event at Thunderhill!
            </p>
        </div>
    </main>
</body>

</html>