<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Contact Us!</title>
</head>

<body>
    <main>
        <img class="logo" src="../assets/media/LOGO-fc6fecfc.png"
            alt="Logo of the company: a tire with NorCal Time Series writen on the top part and Since 2021 on the bottom part">
        <h1>NorCal Time Trial Series</h1>
        <header>
            <nav>
                <ul>
                    <li>
                        <p><a href="index.html"><strong> Home </strong></a></p>
                    </li>
                    <li class="border2">
                        <p><a href="about.html"><strong>About</strong> </a></p>
                    </li>
                    <li>
                        <p><a href="contact.html"><Strong>Contact</Strong></a></p>
                    </li>
                </ul>
            </nav>
        </header>
        <img class="car" src="../assets/media/car3-1c119d48.png"
            alt="A man waving a black and white checked flag informing the end of the race.">
        <section>
            <p>Please email us at: info@nctts.org <br>
                We will reply as quickly as we can.
            </p>
        </section>
    </main>
</body>

</html>