<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>About the NorCal Time Trials Series</title>
</head>

<body>
    <section class="grid-container">
        <div class="menu">
            <h1>NorCal Time Trial Series</h1>
            <img src="../assets/media/LOGO-fc6fecfc.png">
            <ul>
                <li><a href="index.html">
                        <p>Home</p>
                    </a></li>
                <li><a class="current" href="about.html">
                        <p>About</p>
                    </a></li>
                <li><a href="contact.html">
                        <p>Contact</p>
                    </a></li>
            </ul>

        </div>
        <div class="heroPic2"></div>
        <div class="content">
            <h2>Mission</h2>
            <p>To quote https://24hoursoflemons.com/:
                “Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”
            </p>
            <h2>Vision</h2>
            <p>The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic
                Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel
                racing.
            </p>
            <h2>General Information</h2>
            <p>The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway,
                Thunderhill Raceway, or WeatherTech Raceway at Laguna Seca. Full safety equipment is required, and your
                car must pass technical inspection before you can compete.
            </p>

        </div>
    </section>
</body>

</html>