<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Contact Us!</title>
</head>

<body>
    <section class="grid-container">
        <div class="menu">
            <h1>NorCal Time Trial Series</h1>
            <img src="../assets/media/LOGO-fc6fecfc.png">
            <ul>
                <li><a href="index.html">
                        <p>Home</p>
                    </a></li>
                <li><a href="about.html">
                        <p>About</p>
                    </a></li>
                <li><a class="current" href="contact.html">
                        <p>Contact</p>
                    </a></li>
            </ul>

        </div>
        <div class="heroPic3"></div>
        <div class="content">
            <p>Please email us at: info@nctts.org <br>
                We will reply as quickly as we can.
            </p>
        </div>
    </section>
</body>

</html>