<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Contact Us!</title>
</head>

<body>
    <section class="grid-container">
        <div class="item1">
            <h1>NorCal Time Trial Series</h1>
            <ul>
                <li><a href="index.html">
                        <p>Home</p>
                    </a></li>
                <li><a href="about.html">
                        <p>About</p>
                    </a></li>
                <li><a class="current" href="contact.html">
                        <p>Contact</p>
                    </a></li>
            </ul>

        </div>
        <div class="item2">2</div>
        <div class="item3">3</div>
    </section>
</body>

</html>