<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>The NorCal Time Trials Series</title>
</head>

<body>
    <section class="grid-container">
        <div class="menu">
            <h1>NorCal Time Trial Series</h1>
            <img src="../assets/media/LOGO-fc6fecfc.png">
            <ul>
                <li><a class="current" href="index.html">
                        <p>Home</p>
                    </a></li>
                <li><a href="about.html">
                        <p>About</p>
                    </a></li>
                <li><a href="contact.html">
                        <p>Contact</p>
                    </a></li>
            </ul>

        </div>
        <div class="heroPic"></div>
        <div class="content">
            <h2>Upcoming Events</h2>
            <div>
                <p> February 12<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Board Meeting<br>
                    <br>
                    February 25<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drivers Zoom Meeting<br>
                    <br>
                    March 12<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Event at Thunderhill!
                </p>
            </div>
    </section>
</body>

</html>