.logo {
        width: 150px;
        height: 150px;
        display: block;
        margin: 0px 40px 20px 15px;
        clear: both;
        float: left;
        padding: 4px;

}

.car {
        width: 150px;
        height: 150px;
        display: block;
        clear: both;
        float: left;
        padding: 4px;
        margin: 0 60px 300px 15px;
}

ul {
        list-style-type: none;
        margin-bottom: 50px;
}

li {
        display: inline-block;
        margin-right: 10px;
}
.border2{
        border-style: none solid none solid;
        border-color: blue;
        padding: 0 10px 0;
}
.border2 p{
        margin:0;
}

h1 {
        margin: 40px 0px 40px;

}