.logo {
    width: 150px;
    height: 150px;
    margin: 0px 40px 20px 15px;
    justify-content: flex-start;
    padding: 4px;
    display: flex;

}

.car {
    width: 100%;
    height: 500px;
    object-fit: cover;
}



.intro {
    display: flex;  
    justify-content: space-between;
}
ul {
    margin: 20px 0 -45px 0;
    list-style-type: none;
    display: flex;
}

li {

    display: inline-block;
    margin: 5px;
    border-style: solid;
    padding: 1px 20px 5px;
    background-color: darkblue;
}

h1 {
    margin: 0 0px 40px;
}

h2 {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
}

.heroPic{
    background-image: url("../assets/media/car1-3dda6fa4.png");
}

