.logo {
    width: 250px;
    height:250px;
    margin: 16px 40px 20px 15px;
    justify-content: flex-start;
    padding: 4px;
    display: flex;

}

.car {
    width: 100%;
    height: 800px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}



.intro {
    display: flex;  
    justify-content: space-between;
}
ul {
    margin: 40px 0 -45px 0;
    list-style-type: none;
    display: flex;
}

li {

    display: inline-block;
    margin: 5px;
}
li p a {
    color: white;
    font-size: 15px;
    background-color: royalblue;
    padding: 10px 20px;
    border: 1px solid darkblue;
    text-decoration: none;
}
a:active {
    background-color: green;
}

h1 {
    margin: 0 0px 40px;
}

h2 {
    display: flex;
    justify-content: center;
}

.content{
    margin-right: 20%;
}
main{
    display: flex;
}

